@model vmPaymentDeposits
@{
    ViewData["Title"] = "Secure UPI Deposits Made Easy On TechnoApp ";
}
@section Header {
    <meta name="description" content="Optimize your financial transactions on TechnoApp  . Dive into UPI deposit settings for seamless and efficient payment management." />
}
<section class="section-upload bg2">
    <div class="container">
        <!---------------------------------------------------------------------->
        <div class="wallet-userdiv33 px-0">
            <div class="market-title-h2 headcss33">
                <span> <a asp-controller="settings" asp-action="index"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </a></span>
                <span>Payment & Deposit </span>
            </div>
        </div>
        @if (!Model._Is2FAEnabled)
        {
            <div id="topbar" class="noti55box">
                <div class="container">
                    <span class="css44-cross"> <i class="fa fa-times" aria-hidden="true"></i></span>
                    <strong class="orange">
                        Note: You haven’t enabled 2FA yet.<br>
                        Please enable 2FA to add a payment method and deposit funds.
                    </strong><br>
                </div>
            </div>
        }
        <!---------------------------------------------------------------------->
        <div class="row">
            <!-----========================================----->
            <div class="addban4354 dflex20div mt-3">
                <div class="index-links float-left  ">
                    <ul class="px-0">
                        <li><a asp-controller="settings" asp-action="paymentdeposit" class="url-1">Bank Transfer</a> </li>
                        <li>|</li>
                        <li><a asp-controller="settings" asp-action="paymentdepositupi" class="url-1 active">UPI </a> </li>
                    </ul>

                </div>
                <!-----========================================----->
                 @if (Model._Is2FAEnabled)
                {
                    <div class="dropdowndiv  float-right">
                        <a asp-controller="settings" asp-action="AddPaymentMethod" type="button" class="btn csss77-histbtn">Add New </a>
                    </div>
                }
            </div>

            <div class="bankdiv354box placeholder-glow" id="upiDetailsList">
                <!-----========================================----->
                @foreach (var item in Model.UPI)
                {

                    <div class="bankbox543">
                        <div class="banktitle433">
                            <span>@item.MethodName </span>
                            <span>@item.SupportCurrency</span>
                        </div>
                        <div class="bandivde233">
                            <div class="css77-withdrawlS">
                                <div class="csssum-title55">Name</div>
                                <div class="csssum-detail55"><span>@item.AccountHolderName</span> </div>
                            </div>

                            <div class="css77-withdrawlS">
                                <div class="csssum-title55">Linked Account Id</div>
                                <div class="csssum-detail55"><span>@item.UPIid</span> </div>
                            </div>
                            <div class="addupi4354 text-right   text">
                                <div class="bankedbt654"><a asp-controller="settings" asp-action="deleteUPI" asp-route-did="@item.ID" class="basered">Delete</a></div>
                            </div>
                        </div>
                    </div>
                }

                
            </div>

        </div>
    </div>
</section>
@section Scripts{
<script>
    $('.css44-cross').on('click', function () {
        $('.noti55box').hide();
    })
</script>
}