@model vmWalletTransactions
<section class="section-wallet bg2">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            @await Html.PartialAsync("Partial/_WalletLeftMenu","index")
            <div class="col-md-10 col-lg-10 col-xxl-10 py-3">
                <div class="wallet-right33">
                    @await Html.PartialAsync("Partial/_TopUserDetails",Model.UserDetails)
                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="wallet-tabdiv">
                            <div class="heading">Transaction History</div>
                            <div class="css33wallettab mt-2">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link  active" data-bs-toggle="tab" href="#cryptodeposit44">Crypto</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#fiatdeposit44">Fiat</a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="wallet-sectdiv33">
                        <div id="wallet-tabdiv" class="tab-content">
                            <div class="tab-pane active" id="cryptodeposit44">
                                <div class="css77-tranbox">
                                    <div class="sell-right-but">
                                        <div class="css33-leftpan">
                                            <span class="sell-btn-22">
                                                <lable class="label857"> Type</lable>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">All</option>
                                                    <option value="1">Deposit</option>
                                                    <option value="2">Withdraw</option>
                                                </select>
                                            </span>
                                            <span class="sell-btn-22">
                                                <lable class="label857">Time Period</lable>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">1 days</option>
                                                    <option value="1">3 days</option>
                                                    <option value="2">7 days</option>
                                                </select>
                                            </span>

                                            <span class="sell-btn-22">
                                                <lable class="label857"> Asset</lable>
                                                <div class=" form-select2 form254">
                                                    <select asp-for="selectedCryptoCoin" onchange="CryptoValMatrxChange(this)" class="my-select">
                                                        <option>Select Coin</option>
                                                        @foreach (var tk in Model.TokenList)
                                                        {
                                                            if (tk.token.Code == Model.selectedCryptoCoin)
                                                            {
                                                                <option data-bval="@tk.basePrice" selected data-img-src="/images/coin/@string.Concat(tk.token.Code.ToUpper(),".png")">@tk.token.Code </option>

                                                            }
                                                            else
                                                            {
                                                                <option data-bval="@tk.basePrice" data-img-src="/images/coin/@string.Concat(tk.token.Code.ToUpper(),".png")">@tk.token.Code </option>

                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </span>
                                            <span class="sell-btn-22">
                                                <lable class="label857"> Wallet</lable>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">Funding Wallet</option>
                                                    <option value="1">Earn </option>
                                                    <option value="3">Spot wallet</option>
                                                </select>
                                            </span>
                                            <span class="sell-btn-22">
                                                <lable class="label857">Status</lable>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">Pending</option>
                                                    <option value="1">Success</option>
                                                    <option value="3">Failed</option>
                                                </select>
                                            </span>
                                            <span class="sell-btn-22">
                                                <label for="inputPassword5" class="label857">Txn Hash</label>
                                                <input type="text" class="form-select  form-control2 cssform454"
                                                       aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                                            </span>
                                        </div>
                                        <div class="css33-rightpan">
                                            <span class="sell-btn-22">
                                                <span class="d-inline-block opencss11" tabindex="0"
                                                      data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                      data-bs-content="View transaction history older than 7 days" data-bs-original-title=""
                                                      title=""><a href="http://dev.TechnoApp.nsch.com/TechnoApp_blockchain0.2/index.html" target="_blank" type="button" class="css-subbtn44" id="liveToastBtn"> View on TechnoApp explorer </a> </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="crypto-css466" class="css77asses-div px-0">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#internalcrpto">Internal Transaction</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-bs-toggle="tab" href="#externalcrpto">External Transaction</a>
                                            </li>
                                        </ul>
                                    </div>







                                    <div id="comunity-css566-box" class="comunity-css566-box table-responsive">

                                        <div class="css33-rightpan mb-2">
                                            <form>
                                                <input type="search" class="market-search" data-tab="myMktTaball-566" placeholder="Search" name="search">
                                            </form>
                                            <div id="topScroll" class="topscroll" style="display: none;">
                                                <a href="#topscroll1">
                                                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="transactionDataTable" class="css-Rheigh44 table-parent">
                                            <table id="topscroll1" class="table table-responsive table-child">
                                                <thead class="trasaction-table-title">
                                                    <tr>

                                                        <th nowrap="nowrap" class="css566-table-text text-left">Asset </th>
                                                        <th nowrap="nowrap" class="css566-table-text">Time </th>
                                                        @* <th nowrap="nowrap" class="css566-table-text"> Type </th>*@
                                                        <th nowrap="nowrap" class="css566-table-text"> Wallet</th>
                                                        <th nowrap="nowrap" class="css566-table-text">Type</th>
                                                        <th nowrap="nowrap" class="css566-table-text">Amount</th>
                                                        <th nowrap="nowrap" class="css566-table-text"> Balance </th>
                                                        <th nowrap="nowrap" class="css566-table-text"> TxID </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbtrans" class="trasaction-table trans-tab-img">
                                                    @foreach (var tr in Model.WalletTransactions)
                                                    {
                                                        @if (tr.TransactionId != Guid.Empty)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="about-btc.html">
                                                                        <div class="coin-name-css46 ">
                                                                            <span><img src="/images/coin/@string.Concat(tr.TokenName.ToUpper(),".png")"></span>
                                                                            <span>@tr.TokenCode</span> <small>@tr.TokenName</small>
                                                                        </div>
                                                                    </a>
                                                                </td>
                                                                <td class="dydate" data-oval="@tr.Date">@tr.Date    </td>
                                                                <td>@tr.wName</td>
                                                                @*<td>@tr.Narration</td>*@
                                                                @if (tr.isFrom)
                                                                {
                                                                    <td>WithDraw</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Deposit</td>
                                                                }
                                                                <td class="dyVal" data-oval="@tr.Amount" data-dval="6">@tr.Amount</td>

                                                                <td class="dyVal" data-oval="@tr.Balance" data-dval="6">@tr.Balance</td>
                                                                <td>@tr.TransactionId</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>


                                        </div>
                                        <!-- ==== Pagination ==== -->
                                        <!-- ==== // Pagination ==== -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fiatdeposit44">
                                <div class="css77-tranbox">
                                    <div class="sell-right-but">
                                        <div class="css33-leftpan">
                                            <span class="sell-btn-22">
                                                <lable class="label857"> Type</lable>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">All</option>
                                                    <option value="1">Deposit</option>
                                                    <option value="2">Withdraw</option>
                                                </select>
                                            </span>
                                            <span class="sell-btn-22">
                                                <lable class="label857">Time Period</lable>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">1 days</option>
                                                    <option value="1">3 days</option>
                                                    <option value="2">7 days</option>
                                                </select>
                                            </span>

                                            <span class="sell-btn-22">
                                                <lable class="label857"> Asset</lable>
                                                <div class=" form-select2 form254">
                                                    <select asp-for="selectedCryptoCoin" onchange="CryptoValMatrxChange(this)" class="my-select">
                                                        <option>Select Coin</option>
                                                        @foreach (var tk in Model.TokenList)
                                                        {
                                                            if (tk.token.Code == Model.selectedCryptoCoin)
                                                            {
                                                                <option data-bval="@tk.basePrice" selected data-img-src="/images/coin/@string.Concat(tk.token.Code.ToUpper(),".png")">@tk.token.Code </option>

                                                            }
                                                            else
                                                            {
                                                                <option data-bval="@tk.basePrice" data-img-src="/images/coin/@string.Concat(tk.token.Code.ToUpper(),".png")">@tk.token.Code </option>

                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </span>
                                            <span class="sell-btn-22">
                                                <lable class="label857">Status</lable>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected="">Pending</option>
                                                    <option value="1">Success</option>
                                                    <option value="3">Failed</option>
                                                </select>
                                            </span>
                                            <span class="sell-btn-22">
                                                <label for="inputPassword5" class="label857">Txn Hash</label>
                                                <input type="text" class="form-select  form-control2 cssform454"
                                                       aria-describedby="passwordHelpBlock" placeholder="Enter Text">
                                            </span>
                                        </div>
                                        <div class="css33-rightpan">
                                            <span class="sell-btn-22">
                                                <span class="d-inline-block opencss11" tabindex="0"
                                                      data-bs-toggle="popover" data-bs-trigger="hover focus"
                                                      data-bs-content="View transaction history older than 7 days" data-bs-original-title=""
                                                      title=""><a href="http://dev.TechnoApp.nsch.com/TechnoApp_blockchain0.2/index.html" target="_blank" type="button" class="css-subbtn44" id="liveToastBtn"> View on TechnoApp explorer </a> </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="comunity-css566-box" class="comunity-css566-box table-responsive">

                                        <div class="css33-rightpan mb-2">
                                            <form>
                                                <input type="search" class="market-search" data-tab="myMktTaball-566" placeholder="Search" name="search">
                                            </form>
                                            <div class="topscroll" style="display: none;">
                                                <a href="#topscroll2">
                                                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="transactionDataTable2" class="css-Rheigh44 table-parent">
                                            <table id="topscroll2" class="table table-responsive table-child">
                                                <thead class="trasaction-table-title">
                                                    <tr>
                                                        <th nowrap="nowrap" class="css566-table-text  text-left">Currency </th>

                                                        <th nowrap="nowrap" class="css566-table-text">Time </th>

                                                        <th nowrap="nowrap" class="css566-table-text"> Type </th>

                                                        <th nowrap="nowrap" class="css566-table-text"> Amount</th>

                                                        <th nowrap="nowrap" class="css566-table-text"> Wallet</th>

                                                        <th nowrap="nowrap" class="css566-table-text"> TxID </th>

                                                        <th nowrap="nowrap" class="css566-table-text"> Status </th>

                                                    </tr>
                                                </thead>
                                                <tbody class="trasaction-table trans-tab-img">

                                                    <tr>

                                                        <td>INR - ₹</td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Deposit</td>
                                                        <td>3,025.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Success</td>
                                                    </tr>

                                                    <tr>

                                                        <td>USD - $ </td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Deposit</td>
                                                        <td>5,025.00</td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Success</td>
                                                    </tr>

                                                    <tr>

                                                        <td>USD - $ </td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>withdraw</td>
                                                        <td>10,025.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Success</td>
                                                    </tr>

                                                    <tr>

                                                        <td>INR - ₹</td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Deposit</td>
                                                        <td>10,025.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Failed </td>
                                                    </tr>

                                                    <tr>

                                                        <td>USD - $ </td>

                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Withdraw</td>
                                                        <td>50,000.00</td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Success </td>
                                                    </tr>

                                                    <tr>

                                                        <td>INR - ₹</td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Withdraw</td>
                                                        <td>10,000.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Failed </td>
                                                    </tr>

                                                    <tr>

                                                        <td>INR - ₹</td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Deposit</td>
                                                        <td>10,000.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Pending </td>
                                                    </tr>

                                                    <tr>

                                                        <td>INR - ₹</td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Deposit</td>
                                                        <td>2,500.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Failed </td>
                                                    </tr>

                                                    <tr>
                                                        <td>USD - $ </td>

                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Withdraw</td>
                                                        <td>2,500.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Success </td>
                                                    </tr>

                                                    <tr>

                                                        <td>INR - ₹</td>
                                                        <td>
                                                            <div class="css5datet44">
                                                                <span> 12/19/2022 </span> <span> <small> 12:00:00</small></span>
                                                            </div>
                                                        </td>
                                                        <td>Deposit</td>
                                                        <td>10,000.00 </td>
                                                        <td>Fund Wallet</td>
                                                        <td>
                                                            <a href="#"><span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="4fe73-728e-44ec-94b4-1103brfc1a67" data-bs-original-title="" title="" aria-describedby="popover531066">4fe73...</span></a>
                                                        </td>
                                                        <td>Failed</td>
                                                    </tr>





                                                </tbody>
                                            </table>


                                        </div>
                                        <!-- ==== Pagination ==== -->
                                        <!-- ==== // Pagination ==== -->
                                    </div>
                                </div>

                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>

</section>
@section Scripts{

     @if (ConfigEx.ShouldMini)
    {   
        <script src="~/minjs/select.min.js"></script>
        <script src="~/minjs/images-select.min.js"></script> 
       <script src="~/js/transactions.js"></script>
    }
    else
    {    
        <script src="~/js/select.js"></script>
        <script src="~/js/images-select.js"></script>        
       <script src="~/js/transactions.js"></script>
    }
    
    <script type="text/javascript">


        $(document).ready(function () {
            $(".my-select").chosen({ width: "100%" });

            //LoadCurrIfNot();
            formateDate();
            formateAll();
        });
    </script>

}